@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    @apply bg-primary
  }
}

.jobs{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 400px) {
  .jobs{
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .jobs{
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

