@tailwind base;
@tailwind components;
@tailwind utilities;

.fileUploaderWrapper lr-file-uploader-regular {
  --darkmode: 1
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    @apply bg-primary
  }
}

.jobs {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 400px) {
  .jobs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .jobs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


.profilePhoto {
  width: 100px;
  /* Set the width of the container */
  height: 100px;
  /* Set the height of the container */
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}


@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.skeleton-image {
  position: relative;
  overflow: hidden;
}

.skeleton-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  width: 56px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer-image 2s infinite linear;
}

.skeleton-content p {
  position: relative;
  overflow: hidden;
}

.skeleton-content p::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer-image {
  0% {
    left: -200px;
  }

  100% {
    left: 100%;
  }
}


@keyframes shimmer {
  0% {
    left: -200px;
    /* Start position */
  }

  100% {
    left: 100%;
    /* End position */
  }
}

.filter-option__values {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.job-details-desktop::-webkit-scrollbar {
  display: none;
}

.job-details-desktop {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard canvas {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}